// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #c8cdcf !default;
$header-bg-color: #301abc !default;
$header-bg-color-secondary: #159957 !default;

// Text
$section-headings-color: #6f9cc2 !default;
$body-text-color: #98abb3 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #d5dadd !default;

// Code
$code-bg-color: #222 !default;
$code-text-color: #eee !default;

// Borders
$border-color: #819198 !default;
$table-border-color: #555 !default;
$hr-border-color: #819198 !default;


body {
    background-color: #111 !important;
}

div.highlight {
    background-color: transparent !important;
}
